<!doctype html>
<html lang="{{ request.locale.iso_code | default: 'en' }}" data-wf-page="676ec6a21be4ad046e2f6c8f" data-wf-site="676ec6a21be4ad046e2f6c8d">
  <head>
    <meta charset="utf-8">
    {{ content_for_header }}
<link href="https://cdn.prod.website-files.com" rel="preconnect" /><title>long mouth</title><meta content="premium gear for Magic: The Gathering (mtg) – other tcgs are welcome too. long mouth is a small world of quality sleeves, playmats, dice, apparel &amp; more." name="description"/><meta content="long mouth" property="og:title"/><meta content="mtg gear made for goblins by goblins" property="og:description"/><meta content="{{ 'longmouth_dad-hat_graphic_1_cv_copy.jpg' | asset_url }}" property="og:image"/><meta content="long mouth" name="twitter:title"/><meta content="mtg gear made for goblins by goblins" name="twitter:description"/><meta property="og:type" content="website"/><meta content="summary_large_image" name="twitter:card"/><meta content="width=device-width, initial-scale=1" name="viewport"/><meta content="TCCeuZywf-05dO4-Q3K4rlff97P9M44tq28LcfC9ewc" name="google-site-verification"/><link href="{{ 'longmouth.webflow.shared.dc2f03922.css' | asset_url }}" rel="stylesheet" type="text/css"  /><link href="{{ 'favicon.png' | asset_url }}" rel="shortcut icon" type="image/x-icon"/><link href="{{ 'app-icon.png' | asset_url }}" rel="apple-touch-icon"/><link href="https://www.longmouth.world" rel="canonical"/><meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Google Tag Manager -->
<!-- End Google Tag Manager -->


  </head>
  <body data-w-id="6759def9f553452f0e479d01" class="body">
    {{ content_for_layout }}
  </body>
</html>
