<div class="footer__wrap">
  <div class="menu__wrap" data-longmouth-menu>
    <button id="shop__button" type="button" class="menu__item outline-lookbook" data-open-view="shop">
      <div class="menu__item-text">{{ menu_label_shop | default: 'shop' }}</div>
      <div class="menu__item-text-hvr">{{ menu_label_shop | default: 'shop' }}</div>
    </button>

    <button type="button" class="menu__item outline-waitlist" data-open-modal="waitlist-modal">
      <div class="menu__item-text">{{ menu_label_waitlist | default: 'maillist' }}</div>
      <div class="menu__item-text-hvr">{{ menu_label_waitlist | default: 'maillist' }}</div>
    </button>

    <button type="button" class="menu__item outline-contact" data-open-modal="contact-modal">
      <div class="menu__item-text">{{ menu_label_contact | default: 'contact' }}</div>
      <div class="menu__item-text-hvr">{{ menu_label_contact | default: 'contact' }}</div>
    </button>

    <button id="otherstuff__button" type="button" class="menu__item outline-top-side" data-open-view="policy">
      <div class="menu__item-text">{{ menu_label_policy | default: 'other stuff' }}</div>
      <div class="menu__item-text-hvr">{{ menu_label_policy | default: 'other stuff' }}</div>
    </button>
  </div>

  <div class="menu-back__wrap" hidden>
    <button id="home__button-footer" type="button" class="menu__item outline-top-side" data-open-view="home">
      <div class="menu__item-text">{{ menu_label_back_home | default: 'back to world' }}</div>
      <div class="menu__item-text-hvr">{{ menu_label_back_home | default: 'back to world' }}</div>
    </button>
  </div>

  <div class="marquee__ticker" aria-hidden="true">
    <div class="marquee__wrapper">
      <div class="stock _1">
        <svg class="image" viewBox="0 0 20 20" role="presentation" aria-hidden="true" xmlns="http://www.w3.org/2000/svg">
          <path d="M10 16L2 6h16l-8 10z" fill="#ff4a4a"/>
        </svg>
        <h1 class="sol-ring-up down">-5%</h1>
        <div class="stock-text">sol ring</div>
      </div>
      <div class="stock _2">
        <svg class="image" viewBox="0 0 20 20" role="presentation" aria-hidden="true" xmlns="http://www.w3.org/2000/svg">
          <path d="M10 4l8 10H2L10 4z" fill="#75e768"/>
        </svg>
        <h1 class="sol-ring-up">+1000%</h1>
        <div class="stock-text">auratog</div>
      </div>
      <div class="stock _3">
        <svg class="image" viewBox="0 0 20 20" role="presentation" aria-hidden="true" xmlns="http://www.w3.org/2000/svg">
          <path d="M10 16L2 6h16l-8 10z" fill="#ff4a4a"/>
        </svg>
        <h1 class="sol-ring-up down">-5%</h1>
        <div class="stock-text">black lotus</div>
      </div>
      <div class="stock _4">
        <svg class="image" viewBox="0 0 20 20" role="presentation" aria-hidden="true" xmlns="http://www.w3.org/2000/svg">
          <path d="M10 4l8 10H2L10 4z" fill="#75e768"/>
        </svg>
        <h1 class="sol-ring-up">+69%</h1>
        <div class="stock-text">time walk</div>
      </div>
    </div>

    <div class="marquee__wrapper">
      <div class="stock _1">
        <svg class="image" viewBox="0 0 20 20" role="presentation" aria-hidden="true" xmlns="http://www.w3.org/2000/svg">
          <path d="M10 16L2 6h16l-8 10z" fill="#ff4a4a"/>
        </svg>
        <h1 class="sol-ring-up down">-5%</h1>
        <div class="stock-text">sol ring</div>
      </div>
      <div class="stock _2">
        <svg class="image" viewBox="0 0 20 20" role="presentation" aria-hidden="true" xmlns="http://www.w3.org/2000/svg">
          <path d="M10 4l8 10H2L10 4z" fill="#75e768"/>
        </svg>
        <h1 class="sol-ring-up">+1000%</h1>
        <div class="stock-text">auratog</div>
      </div>
      <div class="stock _3">
        <svg class="image" viewBox="0 0 20 20" role="presentation" aria-hidden="true" xmlns="http://www.w3.org/2000/svg">
          <path d="M10 16L2 6h16l-8 10z" fill="#ff4a4a"/>
        </svg>
        <h1 class="sol-ring-up down">-5%</h1>
        <div class="stock-text">black lotus</div>
      </div>
      <div class="stock _4">
        <svg class="image" viewBox="0 0 20 20" role="presentation" aria-hidden="true" xmlns="http://www.w3.org/2000/svg">
          <path d="M10 4l8 10H2L10 4z" fill="#75e768"/>
        </svg>
        <h1 class="sol-ring-up">+69%</h1>
        <div class="stock-text">time walk</div>
      </div>
    </div>

    <div class="marquee__wrapper">
      <div class="stock _1">
        <svg class="image" viewBox="0 0 20 20" role="presentation" aria-hidden="true" xmlns="http://www.w3.org/2000/svg">
          <path d="M10 16L2 6h16l-8 10z" fill="#ff4a4a"/>
        </svg>
        <h1 class="sol-ring-up down">-5%</h1>
        <div class="stock-text">sol ring</div>
      </div>
      <div class="stock _2">
        <svg class="image" viewBox="0 0 20 20" role="presentation" aria-hidden="true" xmlns="http://www.w3.org/2000/svg">
          <path d="M10 4l8 10H2L10 4z" fill="#75e768"/>
        </svg>
        <h1 class="sol-ring-up">+1000%</h1>
        <div class="stock-text">auratog</div>
      </div>
      <div class="stock _3">
        <svg class="image" viewBox="0 0 20 20" role="presentation" aria-hidden="true" xmlns="http://www.w3.org/2000/svg">
          <path d="M10 16L2 6h16l-8 10z" fill="#ff4a4a"/>
        </svg>
        <h1 class="sol-ring-up down">-5%</h1>
        <div class="stock-text">black lotus</div>
      </div>
      <div class="stock _4">
        <svg class="image" viewBox="0 0 20 20" role="presentation" aria-hidden="true" xmlns="http://www.w3.org/2000/svg">
          <path d="M10 4l8 10H2L10 4z" fill="#75e768"/>
        </svg>
        <h1 class="sol-ring-up">+69%</h1>
        <div class="stock-text">time walk</div>
      </div>
    </div>
  </div>
</div>
